<div ng-controller="PaginationController" class="w-100 mx-auto display:inline">
    <div class=" w-100 mx-auto mt-20 d-flex justify-content-center">
        <div class="col-4 d-flex justify-content-center h5">
            Itens por página:
            <select class="ml-3" ng-init="selected = pageSize[1]" ng-options="item.name for item in pageSize"
                ng-model="selected " ng-change=getSelectValue()>
            </select>

        </div>
        <div class="col-4 d-flex justify-content-center h5">
            <button ng:click="selectPage(1)">&lt;&lt;</button>
            <button ng:click="previousPage()">&lt;</button>
            <input class="text-center" type="number" value={{currentPage}} min="1" ng-model="currentPage"
                ng-change=selectPage(currentPage) />
            <button ng:click="nextPage()">&gt;</button>
            <button ng:click="lastPage()">&gt;&gt;</button>
        </div>
        <div class="col-4 d-flex justify-content-center h5">
            <p ng-init="totalItens='0'">{{totalItems}} Items</p>
        </div>
    </div>
</div>