<div ng-controller="TodoController">
    <table class="w-100 table table-dark">
        <tr>
            <th scope="col" ng:click="changeSorting('id')">Id </th>
            <th scope="col" ng:click="changeSorting('produtoName')">Produto </th>
            <th scope="col" ng:click="changeSorting('qtdProduto')">qtd Produto </th>
            <th scope="col" ng:click="changeSorting('createdDate')">Created Date </th>
        </tr>
        <tr ng-repeat="todo in todos track by $index ">
            <td>{{todo.id}}</td>
            <td>{{todo.produtoName}}</td>
            <td>{{todo.qtdProduto}}</td>
            <td>{{todo.createdDate | date:'MM/dd/yyyy' }}</td>
        </tr>
    </table>
</div>
<pagination></pagination>