<div ng-controller="ProdutoController">
    <div class="container">
        <div class="container">
            <!-- Botão para abrir o pop-up -->
            <button type="button" class="btn btn-primary" ng-click="showPopup()">Deletar Produto</button>

            <!-- Pop-up -->
            <div class="popup" ng-show="popupVisible">
                <div class="popup-content">
                    <!-- Formulário de cadastro de produtos -->
                    <button type="button" class="btn btn-danger position-fixed top-0 end-0"
                        ng-click="hidePopup()">X</button>
                    <h1>Deletar Produto</h1>
                    <form>
                        <div class="form-group my-3">
                            <label>Nome do Produto:</label>
                            <select class="ml-3" ng-init="selectedProduct = 'Produtos'"
                                ng-options="item.nomeProduto for item in products" ng-model="selectedProduct"
                                ng-change=getSelectValue()>
                            </select>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="item in products">{{ item }}</li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary w-100" ng-click="deletarProduto()">Deletar Produto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>